.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
input, select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0){
    select:focus, textarea:focus, input:focus{
        font-size:16px;
    }
}
.select {
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
    color: gray;
}

.text-headers{
    margin-top: 15px;
}